<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.aiolife.record.mapper.IBVideoMapper">

    <select id="selectPageWithStatusOrder" resultType="top.aiolife.record.pojo.entity.BVideoEntity">
        SELECT *
        FROM b_video
        ${ew.customSqlSegment}
        ORDER BY FIELD(status,
        <foreach collection="statusCodes" item="statusCode" separator=",">
            #{statusCode}
        </foreach>
        ), update_time DESC
    </select>

    <select id="getStatusCount" resultType="top.aiolife.record.pojo.vo.StatusCount">
        SELECT status, count(*) AS count
        FROM b_video
        WHERE is_deleted = 0 and user_id = #{userId}
        GROUP BY status
    </select>


    <select id="getWatchTime" resultType="java.lang.Integer">
        SELECT sum(watched_duration) AS count
        FROM b_video
        WHERE is_deleted = 0 and user_id = #{userId} AND status = #{completedStatus}
    </select>

    <select id="getTotalTime" resultType="java.lang.Integer">
        SELECT sum(duration) AS count
        FROM b_video
        WHERE is_deleted = 0 and user_id = #{userId}
    </select>

</mapper>
